@import 'roboto.css';
@import '~normalize.css';

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: antiquewhite;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 1000px;
    margin: 0 auto;

}

h1 {
    text-align: center;
}

.logo {
    background-image: url('../assets/webpack-logo.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.post-image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}